*{
   margin:0;
   padding: 0;
   font-family:'Segoe UI', sans-serif;
   box-sizing:border-box;
}
.body{
   background-color: aliceblue;
   margin: 0;
   display: flex;
   justify-content: center; /* horizontal center */
   align-items: flex-start; /* push slightly towards top */
   
}
#container{
   width:90%;
   max-height: 640px;
   max-width: 470px; 
   margin-top: 40px; 
   margin-left:35%;
   border: 1px solid black;
   border-radius:5px;
   background:linear-gradient(135deg,#00feba,#5b548a);  /*It gives you a diagonal color blend from a bright aqua (#00feba) to a purple/indigo shade (#5b548a).*/
   padding: 40px 35px;
   text-align:center; 
}

#search{
   width:100%;
   display:flex;
   align-items: center;
   justify-content: space-between;
}

#search input{
   border:0;
   outline:0;
   background: #ebfffc;
   color:#555;
   padding:10px 25px;
   height:50px;
   border-radius:30px;
   flex: 1;
   margin-right:16px;
}

#search button{
   border:0;
   outline:0;
   background: #ebfffc;
   border-radius: 50%;
   height:60px;
   width:60px;
   cursor: pointer;
}

#search button img{
   width:20px;
   height:20px;
}

.weatherImg{
   width:180px;
   margin-top: 30px;
}
.weather h1{
   font-size: 60px;
   font-weight: 400;
}
.weather h2{
   font-size: 45px;
   font-weight: 300;
   margin-top: -10px;
}

.details{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:0 20px;
   margin-top: 50px;
}
.col{
   display: flex;
   align-items: center;
   text-align: left;
}

.col img{
   width: 40px;
   margin-right: 10px;
}

.Humidity, .Wind{
   font-size: 28px;
   margin-top: -6px;  /*it will measure from end side of container*/
}

.weather{
   display: none;
}
.error{
   margin-top: 10px;
   margin-left:10px;
   text-align: center;
   font-size: 14px;
   display: none;
}

